*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
header{
    height: 100px;
    /* background-color: black; */
   

}
.navbar{
    display: flex;
    margin: 20px;

}
.navbar img{
    height: 50px;
}
.navbar-circle{
    display: flex;
    height: 60px;
    width: 500px;
    margin-left: 150px;
    /* background-color: aqua; */
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.navbar-circle p{
    padding-left: 20px;
    padding-top: 20px;

}
.navbar-circle .circle-button{
    height: 50px;
    margin-left: 50px;
    margin-top: 5px;
    padding-right: 10px;
    border-radius: 50%;
    background-color: blue;
    color: white;
    font-weight: 600;
    padding-bottom: 10px;
}

ul{
    margin-left: 80px;
    height: 80px;
    margin-top: 20px;
    padding-left: 20px;
}
ul li{
    list-style: none; 
    display: inline-block;
    margin-left: 20px;
    padding-top: 10px;
    border: 1px solid blue;
}